In [8]:
from representation import DNA_MPI, DNA
import pandas as pd

In [2]:
df_path = "../data/one_vs_other/LFY.csv"
dataset = pd.read_csv(df_path)
dataset.head()

,id,sequence,length,class
0,Achn017321,MDPDAFSVSLFKWDPREGMAVAAPPQRDLGGLEDLFQAYGVRYYTA...,365,1
1,Achn213191,MDAKRRLRSGLPSLHVPHNSSTAQSGIGSDILRDMDPDAFSASLFK...,414,1
2,EMT27094,MDPNDAFLAAHPFRWDLGPPAPAAVPPPPPPPPPPPALPPANAPRE...,305,1
3,EMT27095,MTWRQRQGEGPSLGCRVAGLPCHVTNQVFRYASKVGASYINKPKMR...,143,1
4,AA5G00117,MDPEGFTSSLFRWDPTRAMVHQSPPQQHQQTPQPLQPQSQPQALPA...,423,1

* **Test**

In [20]:
X, y, f = DNA_MPI.build_kmer_representation_v2(df_path, domaine="ACDEFGHIKLMNPQRSTVWYX", k=4, workers=10, output_file='./sample.csv')

In [21]:
X

,AAAA,AAAC,AAAD,AAAE,AAAF,AAAG,AAAH,AAAI,AAAK,AAAL,...,YYTL,YYTN,YYTT,YYTV,YYVP,YYYQ,YYYR,YYYT,YYYX,YYYY
0,0.000000,0.0,0.0,0.0,0.0,0.002762,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.007143,0.0,0.0,0.0,0.0,0.000000,0.007143,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486,0.009346,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
487,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
488,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
489,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
490,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
y

0      1
1      1
2      1
3      1
4      1
      ..
486    0
487    0
488    0
489    0
490    0
Name: class, Length: 491, dtype: int64

In [7]:
len(f)

434

In [16]:
X_, y_, f_ = DNA.build_kmer_representation_v2(dataset, domaine="ACDEFGHIKLMNPQRSTVWYX", k=4, dtypes=['float16', 'int8'], asCudaDF=False)

In [19]:
X_

,AAAA,AAAC,AAAD,AAAE,AAAF,AAAG,AAAH,AAAI,AAAK,AAAL,...,YYTL,YYTN,YYTT,YYTV,YYVP,YYYQ,YYYR,YYYT,YYYX,YYYY
0,0.000000,0.0,0.0,0.0,0.0,0.002762,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.007143,0.0,0.0,0.0,0.0,0.000000,0.007143,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486,0.009346,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
487,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
488,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
489,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
490,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
y_

0      1
1      1
2      1
3      1
4      1
      ..
486    0
487    0
488    0
489    0
490    0
Name: class, Length: 491, dtype: int64

In [14]:
len(f_)

434